/* Start global Rules */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: .3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {

    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    margin: 0 auto 80px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid black;
    width: fit-content;
    padding: 10px 20px;
    position: relative;
    transition: var(--main-transition);
    z-index: 1;
}

.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);

}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move .5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move .5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: .5s;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global Rules */
/* Start Header */
header {
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-color: white;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    font-size: 26px;
    font-weight: bold;
    color: var(--main-color);
    cursor: pointer;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    header .logo {
        width: 100%;
        height: 50px;
    }

}


header .container .main-links {
    display: flex;
}

@media (max-width:767px) {
    header .container .main-links {
        margin: auto;
    }

}

header .container .main-links>li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

header .container .main-links>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: black;
    padding: 0 30px;
    position: relative;
    transition: var(--main-transition);
    overflow: hidden;
}

@media (max-width:767px) {
    header .container .main-links>li>a {
        font-size: 14px;
        padding: 10px;
        height: 40px;

    }
}

header .container .main-links>li>a::before {
    content: '';
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    transition: var(--main-transition);
}

header .container .main-links>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header .container .main-links>li>a:hover:before {
    left: 0;

}

header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition),
        opacity var(--main-transition);
}

@media (max-width:767px) {
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }

}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width:991px) {
    header .mega-menu .image img {
        display: none;
    }

}

header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width:767px) {
    header .mega-menu .links:first-of-type li:last-child {

        border-bottom: 1px solid #e9e6e6;
    }

}


header .mega-menu .links li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fafafa;
    width: 0px;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
}


header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 15px;
}

header .mega-menu .links li a i {
    margin-right: 10px;
}


/* End Header */
/* Start Landing */
.landing {
    position: relative;
    overflow: hidden;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;

}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;

}


.landing .container .text {
    flex: 1;
}

@media (max-width:991px) {
    .landing .container .text {
        text-align: center;
    }

}



.landing .container .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width:767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }

}

.landing .container .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;

}

@media (max-width:991px) {
    .landing .container .text p {
        margin: 10px auto;
    }

}

@media (max-width:767px) {
    .landing .container .text p {
        font-size: 18px;
    }

}

.landing .container img {
    width: 600px;
    max-width: 100%;
    position: relative;
    animation: up-down 5s linear infinite;

}

@media (max-width:991px) {
    .landing .container img {
        display: none;
    }

}

.landing .go-down {
    position: absolute;
    color: var(--main-color);
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {

    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}



/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .container .box {
    box-shadow: 0 2px 7px rgb(0 0 0/ 10%);
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 7px rgb(0 0 0/ 20%);
}

.articles .container .box img {
    max-width: 100%;
    width: 100%;
}

.articles .container .box .content {
    padding: 20px;

}

.articles .container .box .content h3 {
    margin: 0;
    font-size: 18px;
}

.articles .container .box .content p {
    margin-top: 10px;
    color: #777;
    line-height: 1.7;
}

.articles .container .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container .box .info a {
    font-weight: bold;
    color: var(--main-color);
}

.articles .container .box .info i {
    color: var(--main-color);
}

.articles .container .box:hover .info i {
    animation: moveing-arrow .6s linear infinite;
}


/* End Articles */
/* Start Galley */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255/ 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing .7s;
}


.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition);

}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}



/* End Galley */
/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    border: 2px solid #ccc;
    text-align: center;
}

.features .box .img-holder {
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}

.features .box .img-holder::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}

.features .box .img-holder img {
    max-width: 100%;
}

.features .box h3 {
    margin: auto;
    font-size: 40px;
    position: relative;
    width: fit-content;
}

.features .box h3::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);

}


.features .passion h3::after {
    background-color: var(--main-color);

}

.features .box p {
    line-height: 1.7;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    font-size: 25px;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 10px 30px;
    border-radius: 5px;
    transition: var(--main-transition);

}

.features .quality .img-holder::before {
    background-color: rgb(244 46 45 / 60%);
}

.features .quality h3::after {
    background-color: #f44036;

}

.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .time h3::after {
    background-color: #009688;
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .img-holder::before {
    background-color: rgb(2 166 242 / 60%);
}

.features .passion h3::after {
    background-color: #02a6f2;
}

.features .passion a {
    color: #02a6f2;
    border-color: #02a6f2;
    background: linear-gradient(to right, #02a6f2 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;

}

/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0/ 10%);
    border-radius: 7px;
    padding: 20px;
    position: relative;


}

.testimonials .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: -10px;
    border: 10px solid;
    border-color: var(--section-background);
}

.testimonials .box h3 {
    padding-bottom: 10px;
}

.testimonials .box .title {
    margin-bottom: 15px;
    display: block;
    color: #777;
}

.testimonials .box .filled {
    color: #ffc107;
}

.testimonials .box p {
    line-height: 1.5;
    margin-top: 10px;
    color: #777;
    font-size: 16px;
}


/* End Testimonials */
/* Start Team Members */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .container .box {
    position: relative;

}

.team .container .box::before,
.team .container .box::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
    border-radius: 15px;
    transition: var(--main-transition);
}

.team .container .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .container .box::after {
    z-index: -1;
    width: 0;
    background-color: #e4e4e4;
}

.team .container .box:hover::after {
    width: calc(100% - 60px);
}

.team .container .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .container .box .data img {
    width: calc(100% - 60px);
    border-radius: 15px;
    transition: var(--main-transition);
}

.team .container .box:hover .data img {
    filter: grayscale(100%);
}

.team .container .box .data .social {
    display: flex;
    width: 60px;
    flex-direction: column;
    align-items: center;
}

.team .container .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .container .box .data .social a i {
    color: #777;
    transition: var(--main-transition);
}

.team .container .box .data .social a:hover i {
    color: var(--main-color);
}

.team .container .box .info {
    padding-left: 80px;
}

.team .container .box .info h3 {
    font-size: 25px;
    color: var(--main-color);
    margin: 20px 0;
    transition: var(--main-transition);
}

.team .container .box:hover .info h3 {
    color: #777
}

.team .container .box .info p {
    font-size: 20px;
    margin-bottom: 20px;
}


/* End Team Members */
/* Start Services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;

}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0/ 13%),
        0 2px 4px 0 rgb(0 0 0/ 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}

.services .container .box::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: var(--main-color);
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box:hover::before {
    width: 100%;
}

.services .container .box .data {
    position: relative;
}

.services .container .box .data i {
    text-align: center;
    color: #d5d5d5;
    margin: 20px auto;
    display: block;
}

.services .container .box .data h3 {
    text-align: center;
    margin: 20px 0 40px;
    color: var(--main-color);
}

.services .container .box .data .info {
    text-align: right;
    padding: 20px;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;

}

.services .container .box .data .info::before {
    content: '0' counter(services);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
    width: 60px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .container .box .data .info:after {
    content: '';
    position: absolute;
    top: 0;
    left: 62px;
    background-color: #d5d5d5;
    height: 100%;
    width: 50px;
    transform: skewX(-30deg);
}

.services .container .box .data .info a {
    color: var(--main-color);
    font-size: 20px;

}


/* End Services */
/* Start Skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width:991px) {
    .our-skills .container img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;

}

.our-skills .skill {
    padding-bottom: 20px;

}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

}

.our-skills .skill h3 span {
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    color: var(--main-color);
}

.our-skills .skill .progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}

.our-skills .skill .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
}

/* End Skills */
/* Start Works */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
        gap: 50px;
    }
}

.work-steps .container .image {
    max-width: 100%;
}


.work-steps .container .info {
    flex: 1;
}

.work-steps .container .info .box {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #f5f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 2px solid white;
    position: relative;
    z-index: 1;

}

@media (max-width: 767px) {
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}

.work-steps .container .info .box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    width: 0;
    height: 0;
    z-index: -1;
    transition: var(--main-transition);
}

.work-steps .container .info .box:hover::before {
    width: 100%;
    height: 100%;

}

.work-steps .container .info .box img {
    width: 64px;
}

.work-steps .container .info .box h3 {
    margin: 0;
    font-size: 25px;
}

.work-steps .container .info .box p {
    line-height: 1.7;
    color: #777;
    font-size: 18px;
    margin-top: 10px;
}

/* End Works */
/* Start Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;

}

.events::before {
    content: '';
    background-image: url(../image/dots.png);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.events::after {
    content: '';
}

.events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;

}

.events .container img {
    max-width: 450px;
}

@media (max-width:991px) {
    .events .container img {
        display: none;
    }

}

.events .container .info {
    flex: 1;
}

.events .container .info .time {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.events .container .info .time .unit {
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    width: 75px;
    transition: var(--main-transition);


}

.events .container .info .time .unit:hover {
    border-color: #009688;
}

.events .info .time .unit span {
    display: block;
}

.events .info .time .unit span:first-child {
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    padding: 15px;
}

.events .info .time .unit span:last-child {
    padding: 8px 15px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}

.events .container .info .time .unit:hover,
.events .container .info .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .info h3 {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}

.events .info .description {
    margin-top: 20px;
    line-height: 1.7;
    color: #777;
    text-align: center;
    font-size: 18px;
}

.events .subscrib {
    width: 100%;
    margin-top: 50px;
}

.events .subscrib form {
    width: 600px;
    background-color: #f6f5f5;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width:767px) {
    .events .subscrib form {
        max-width: 100%;
        padding: 20px;
        border-radius: 5px;
        flex-direction: column;
    }

}

.events .subscrib form input[type="email"] {
    padding: 20px;
    flex: 1;
    border-radius: 50px;
    border: none;
    caret-color: var(--main-color);
}

@media (max-width:767px) {
    .events .subscrib form input[type="email"] {
        border-radius: 5px;
    }
}

.events .subscrib form input[type="email"]:focus {
    outline: none;
}

.events .subscrib form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events .subscrib form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscrib form input[type="submit"] {
    border: none;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 15px 25px;
    cursor: pointer;
    transition: var(--main-transition);
}

@media (max-width:767px) {
    .events .subscrib form input[type="submit"] {
        border-radius: 5px;
    }
}

.events .subscrib form input[type="submit"]:hover {
    background-color: var(--main-color-alt)
}

/* End Events */
/* Start Animation */
@keyframes up-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-17px);
    }
}

@keyframes left-move {
    0% {
        left: 0;
        width: 10px;
        height: 10px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 60%;
        height: 100%;
    }

}

@keyframes right-move {
    50% {
        right: 0;
        width: 10px;
        height: 10px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 60%;
        height: 100%;
    }

}

@keyframes moveing-arrow {
    100% {
        transform: translateX(10px);
    }

}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }

}

/* End Animation */